RUST_LOG=info,nockchain=info,nockchain_libp2p_io=info,libp2p=info,libp2p_quic=info
MINIMAL_LOG_FORMAT=true
MINING_PUBKEY=3Zp2m2Lt4uWx2PKuCSuQrA7W5aAgaHLeWGsnd7eYS11PMV8Uorpm5t6TAHLVjbHc9nJgs8QcJpRaBLMZDPDkgVxQ9qT48AAVbaNk4bpeTSPVFjmEQ7HkaFgvSrnHUxqsUbMR
NUM_THREADS=
USE_BIND=false
RUNTIME_MAX_SEC=2h
# to find the path do `which nockchain`
NOCKCHAIN_BIN=/root/.cargo/bin/nockchain
PEERS=/dnsaddr/nockchain-backbone.zorp.io
MINERS_SSH=hz04,hz05,hz06,hz07,hz08,hz09,hz10,hz11,hz12,hz13,hz14,hz15,hz16,hz17,hz18,hz19,hz20,hz21,hz22,hz23,hz24,hz25,hz26,hz27,hz28,hz29