RUST_LOG=info,nockchain=info,nockchain_libp2p_io=info,libp2p=info,libp2p_quic=info
MINIMAL_LOG_FORMAT=true
MINING_PUBKEY=3Zp2m2Lt4uWx2PKuCSuQrA7W5aAgaHLeWGsnd7eYS11PMV8Uorpm5t6TAHLVjbHc9nJgs8QcJpRaBLMZDPDkgVxQ9qT48AAVbaNk4bpeTSPVFjmEQ7HkaFgvSrnHUxqsUbMR
NUM_THREADS=
USE_BIND=false
RUNTIME_MAX_SEC=2h
# to find the path do `which nockchain`
NOCKCHAIN_BIN=/root/.cargo/bin/nockchain
PEERS=/dnsaddr/nockchain-backbone.zorp.io
MINERS_SSH=hz4,hz5,hz6,hz7,hz8,hz9,hz10,hz11,hz12,hz13,hz14,hz15,hz16